# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# Weights/checkpoints (do not push models weights)
checkpoints/
checkpoints_jepa/
checkpoints_jepa_aligned/
checkpoints_jepa_enhanced/
checkpoints_jepa_finetuned/
*.pt
*.pth
*.pkl

# Log files and run metrics
logs/
log/
*.log
wandb/
outs/
slurm-*.out

# Data files (do not push dataset raw/processed files)
dataset/CALB/
dataset/CALCE/
dataset/HNEI/
dataset/HUST/
dataset/ISU_ILCC/
dataset/Life labels/
dataset/MATR/
dataset/MICH/
dataset/MICH_EXP/
dataset/NA-ion/
dataset/RWTH/
dataset/SDU/
dataset/SNL/
dataset/Stanford/
dataset/Stanford_2/
dataset/Tongji/
dataset/UL_PUR/
dataset/XJTU/
dataset/ZN-coin/
dataset/total_MICH/
